$textColor: #1F2937;
$black: #000;
$titleColor: #182233;
$subtitleColor: #1E1E16;
$gray: #4B4B4B;
$grayLight: #6B7280;
$grayDark: #374151;
$pink: #CB00DD;
$lightGreen: #E9FCEE;
$modalColor: #F3F4F6;
$white: #fff;
$border: #9CA3AF;
$border2: #D1D5DB;
