$textColor: #1F2937;
$textColor2: #A9A4AF;
$textColor3: #4B5563;
$black: #000;
$titleColor: #182233;
$subtitleColor: #1E1E16;
$gray: #4B4B4B;
$grayLight: #6B7280;
$grayDark: #374151;
$pink: #CB00DD;
$lightGreen: #E9FCEE;
$modalColor: #F3F4F6;
$white: #fff;
$white2: #F8F8F8;
$border: #9CA3AF;
$border2: #D1D5DB;
$backgroundModal: #E5E5E5;
$span: #2B1E3B;
$green: #11D645;
$green2: #27AE60;
$green3: #63A60D;
$red: #BA0000;
$red2: #E90A0A;
$purpleLight: #F1EEFF;
$yellow: #F4B730;
$purple: #9C47F0;
